@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}


.hero {
  background-image: url("./assets/img/Mask\ group.png");
  background-position: center;
  background-repeat: no-repeat;
}

.heroser{
  background-image: url("./assets/img/shop.png");
  background-position: center;
  background-repeat: no-repeat;
}

.service:nth-child(even){
  margin-top: 30px;
}

@media (max-width: 786px) {
  .service:nth-child(even){
    margin-top: 0px;
  }
}
